<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>update-instructor</title>
</head>
<body>
<form
        action="#"
        th:action="@{/{groupId}/{id}/saveUpdateStudent(groupId=${groupId}, id=${student.id})}"
        th:object="${student}"
        method="post">

    <input type="hidden" name="id" th:field="*{id}">
    <input type="text" name="firstName" th:field="*{firstName}" placeholder="First Name" required>
    <br><br>
    <input type="text" name="lastName" th:field="*{lastName}" placeholder="Last Name" required>
    <br><br>
    <input type="text" name="email" th:field="*{email}" placeholder="email" required>
    <br><br>
    <input type="text" name="phoneNumber" th:field="*{phoneNumber}" placeholder="phoneNumber" required>
    <br><br>
<!--    <input type="text" name="studyFormat" th:field="*{studyFormat}" placeholder="studyFormat">-->
    <select style="margin-left: 50px"  type="text" name="studyFormat" th:field="*{studyFormat}" placeholder="studyFormat">
        <option th:value="${studyFormatOnline}">online</option>
        <option th:value="${studyFormatOffline}">offline</option>
    </select>
    <br><br>
    <input type="submit" value="Add">

</form>
</body>
</html>